@import "spinkit.css";
@import url(https://fonts.googleapis.com/css?family=Anton);

body {
	margin: 0;
	font-family: "Helvetic Neue", Helvetica, Arial;
	font-size: 12px;
}

section {
	border-bottom: 1px solid #444;
	box-shadow: inset 0 0 2px rgba(255, 255, 255, .7), 0 1px 2px rgba(0, 0, 0, .5);
	padding: 10px;
}

.one {
	background: linear-gradient(#888, #666);
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.two {
	/*text-transform: uppercase;*/
	font-size: 20px;
	background: linear-gradient(#800, #600);
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.sk-three-bounce {
	display: inline-block;
	margin: 0;
}

.loader-text {
	display: inline-block;
	font-family: Anton;
}

.sk-three-bounce > div.sk-child {
	display: inline-block;
	width: 16px;
	height: 16px;
	font-size: 10px;
	background: white;
}

.three {
	box-sizing: border-box;
	font-size: 32px;
	background: yellow;
}

.three .loader-text {
	height: 32px;
	display: block;
	text-align: center;
	posotion: relative;
	margin-bottom: 20px;
}

.three .loader-text > div {
	transition: .5s all linear;
	opacity: 1;
	color: #444;
	left: 0;
	right: 0;
	text-align: center;
	position: absolute;
}

.three .loader-text > div.hide {
	opacity: 0;
}

.four {
	background: linear-gradient(#fff, #cccc99);
	min-height: 300px;
	position: relative;
}

.four .loadr-slug {
	position: absolute;
	transition: 1.5s all linear;
	opacity: 1;
	font-size: 24px;
	font-family: anton;
	text-shadow: 0px 0px 1px rgba(0,0,0,.5);
}

.four .loadr-slug.fade-out {
	opacity: 0;
}
